.game-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.game-info span {
  margin: 0;
  cursor: default;
  user-select: none;
}

.hangman-img {
  width: 5rem;
  height: 5rem;
  grid-column: 2 / 2;
  grid-row: 1 / 4;
  justify-self: end;
}
