.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.5rem;
  text-align: center;

  background-color: var(--card-bg-color);
  border-radius: 0.3rem;
  font-family: "Gloria Hallelujah", cursive;
}

.guess-letters .letter {
  letter-spacing: 1px;
  padding: 0.4rem;

  color: var(--font-color);
  background-color: unset;
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.guess-letters .guessed-letter {
  color: var(--muted-color);
}

.guess-letters .correct-letter {
  color: var(--accent-color);
}
