.the-word {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--card-bg-color);
  border-radius: 0.3rem;

  font-family: "Gloria Hallelujah", cursive;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
