.theme-radiobuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 1.2rem;
  background-color: var(--card-bg-color);
  border-radius: 0.3rem;
  padding: 1.75rem 2.25rem;
}

.theme-select h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  cursor: default;
}

.theme-radio-wrapper {
  display: flex;
  gap: 0.2rem;
}
