.theme-radiobuttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0.5rem;
  background-color: var(--card-bg-color);
  border-radius: 0.3rem;
  padding: 1.75rem 1rem;
  font-size: 0.9rem;
}
