.game-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
  margin-top: 5rem;
}

.game-layout button {
  border: none;
  color: var(--card-bg-color);
  background-color: var(--accent-color);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
